<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="profiler.settings.instrument.empty.methods">true</entry>
<entry key="ProfilerCPUSettings_profile_runnables">true</entry>
<entry key="ProfilerCPUSettings_filter_type">2</entry>
<entry key="ProfilerMemorySettings_track_every">10</entry>
<entry key="ProfilerMemorySettings_mode">4</entry>
<entry key="ProfilerCPUSettings_root_classes">com.resource.arithmetic.sort.**
com.resource.common.**
com.resource.connpool.version1.**
com.resource.connpool.version2.**
com.resource.datastructure.stack.**
com.resource.designpatterns.interpreter.**
com.resource.designpatterns.iterator.**
com.resource.designpatterns.memento.MultiMemento.**
com.resource.designpatterns.memento.SingleMemento.**
com.resource.designpatterns.observer.**
com.resource.designpatterns.prototype.**
com.resource.designpatterns.proxy.dynamicProxy.**
com.resource.designpatterns.proxy.staticProxy.**
com.resource.designpatterns.singleton.**
com.resource.designpatterns.visitor.**
com.resource.io.nio.**
com.resource.keygen.**
com.resource.reflection.**
com.resource.rmi.client.**
com.resource.rmi.service.**
com.resource.thread.exercise.**
com.resource.thread.forFun.**
com.resource.thread.test.**
com.resource.thread.threadPool.**
com.test.**
com.util.**
</entry>
<entry key="ProfilerCPUSettings_filter_value">com.resource.arithmetic.sort.*,
com.resource.common.*,
com.resource.connpool.version1.*,
com.resource.connpool.version2.*,
com.resource.datastructure.stack.*,
com.resource.designpatterns.interpreter.*,
com.resource.designpatterns.iterator.*,
com.resource.designpatterns.memento.MultiMemento.*,
com.resource.designpatterns.memento.SingleMemento.*,
com.resource.designpatterns.observer.*,
com.resource.designpatterns.prototype.*,
com.resource.designpatterns.proxy.dynamicProxy.*,
com.resource.designpatterns.proxy.staticProxy.*,
com.resource.designpatterns.singleton.*,
com.resource.designpatterns.visitor.*,
com.resource.io.nio.*,
com.resource.keygen.*,
com.resource.reflection.*,
com.resource.rmi.client.*,
com.resource.rmi.service.*,
com.resource.thread.exercise.*,
com.resource.thread.forFun.*,
com.resource.thread.test.*,
com.resource.thread.threadPool.*,
com.test.*,
com.util.*</entry>
<entry key="profiler.settings.istrument.getter.setter.methods">true</entry>
<entry key="myeclipse.profiling.mode">0</entry>
<entry key="ProfilerMemorySettings_stacktraces">-1</entry>
</properties>
